.profil{
    position: absolute;
    right: 120px;
}
.bodyBeranda{
    padding: 64px 60px;
}
.bodyBg{
    background-image: url('foto0.jpg');
    background-size: 100%;
    border-radius: 20px;
}
.atas{
   
    background-color: black;
    opacity: 80%;
    color: white;
    padding: 82px 140px;
    text-align: center;
    border-radius: 20px;
    font-family: sans-serif;
}
.card h3{
    font-weight: 600;
    font-size: 32px;
    line-height: 35.2px;
    margin: 10px;
}
.card p{
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0.2px;
    margin: 10px;
}
.tabs button{
    padding: 12px 36px 12px 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0.2px;
    opacity: 68%;
    border: none;
    background: none;
}
.tabs button::after{
    color: #F64920;
}
.singleCard{
    width: 344px;
    height: 426px;
    padding: 20px;
    font-family: sans-serif;
    display: inline-block;
}
.singleCard h6{
    font-size: 18px;
    font-weight: 600;
    margin: 0%;
    line-height: 21.6px;
}
.singleCard p{
    margin: 0%;
    opacity: 68%;
    size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    letter-spacing: 0.2px;
    height: 44px;
    overflow: auto;
}
.bgBanner{
    background-image: url('foto10.jpeg');
    background-size: 50%;
    border-radius: 20px;
}
.banner{
   background-color: black;
   opacity: 80%;
    height: 200px;
    background-size: 30%;
    padding: 30px 60px;
    text-align: center;
    color: white;
    border-radius: 20px;
}
.footer{
    padding: 60px 120px;
    margin-bottom: 50px;
}
.footer1{
    display: inline-block;
    margin-right: 50px;
}
.footer2{
    display: inline-block;
}
.footer3{
    margin-top: 50px;
}
.sosmed{
    text-align: right;
}
